*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}
body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsl(185, 41%, 84%);
}
.main{
    background: white;
    display: flex;
    width: 920px;
    height: 480px;
    border-radius: 20px;
    padding: 30px;
}
.left-container, .right-container{
    width: 410px;
    height: 410px;
    border-radius: 20px;
}
.left-container button{
    width: 115px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background:hsl(183, 100%, 15%);
    color: white;
    font-size: 22px;
}
input{
    width: 375px;
    height: 45px;
    background:hsl(189, 41%, 97%);
    border: none;
    font-size: 24px;
    border-radius: 5px;
}
.left-container p{
    color: hsl(186, 14%, 43%);
    font-weight: 700;
}
.right-container{
    background: hsl(183, 100%, 15%);
}